.item_container .item:hover{
	transform: scale(1.1);
	transition: transform 1.2s ease;
}
.popup{
	background: linear-gradient(45deg, rgb(42, 172, 184) 0%, rgb(223, 22, 206) 35%, rgb(206, 223, 22) 100%);	position: fixed;
	display: none;
	z-index: 9999;
	height: 100%;
   	text-align: center;
	padding: 10px;
	width: 100%;
	left: 0;
	top: 0;
	animation: popupanimate 4s linear infinite;
}
.wrapper img{
	max-width: 30%;
	max-height: 30%;
}
.wrapper {
	min-width: 700px;
	max-height: 700px;
	width: 60%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
   	top: 50%;
	background: #FFFFFF;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 4px 4px 20px 10px rgba(#000000, 0.4);
}

.wrapper h2{
   font-size: 40px;
   font-weight: 700;   
}

.wrapper a{
   font-size: 20px;
   padding: 0 10px;
}

.item-links{
	padding: 10px 20px ;
	background: #000000;
	border-radius: 50px;
}

@keyframes popupanimate {
	/* 25%{
		background: rgba(143, 122, 118);
	} */
	100%{
		background: linear-gradient(45deg, rgb(206, 223, 22) 0%, rgb(223, 22, 206) 35%, rgb(22, 206, 223) 100%);
	}
}