@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&family=Teko:wght@400;500;600;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   /* font-family: 'Roboto', sans-serif; */
   font-family: 'Teko', sans-serif;
}

a{
   text-decoration: none;
}



/* NAVBAR STYLING STARTS */
  /* LOGO */
.logo{
   display: flex;
   justify-content: center;
   align-items: center;
}
.logo h1{
   font-size: 60px;
   padding: 0 10px;
}
.logo img{
   width: 100px;
}

  /* NAVBAR MENU */


nav{
   overflow: auto; 
   background-color: #ffffcc;
   margin: 0 auto;
   text-align: center;
}
nav ul{
   text-align: center;
}
nav ul li {
   display: inline-block;
   list-style: none;
   float: left;
   padding: 10px 5.25%;
   gap: 1em;
   cursor: pointer;
}
.clear{
   clear: both;
}
a {
   font-size: 1.8em;
   text-decoration: none;
   cursor: pointer;
}
nav ul li:hover{
   color: rgb(224, 53, 114);
   border-bottom: 1px solid black;
}
nav ul li a:hover{
   color: rgb(224, 53, 114);
}


/*
-------------------------------------
               section
*/
section{
   text-align: center;
}
.image-right img{
   position:absolute;
   float: right;
   width: 50%;
}

.link-content{
   padding: 10px 20px;
   display: flex;
}

/*
-------------------------------------
               Footer
*/
footer{
   display: block;
   position: relative;
   top: 600px;
}
footer .copyright
{
   text-align: center;
}
footer h3
{
   font-size: 1.2em;
   font-weight: 300;
}
.linksfooter{
   text-align: center;
   align-items: center;
}